.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    margin-top: 10px;
}

.heading{
   font-size: 60px;
   font-weight: 60px;
   color: brown;
}
.outer{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;

}
.box{
    width: 500px;
    height: 290px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2px;
    background-color: antiquewhite;

}
.box p{
    font-size: 25px;
    text-align: justify;
    align-content: center;
}
.box h3{
    font-size: 25px;
    margin: 10px;
    color: rgba(255, 94, 0, 0.765);
}